<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">

            <li class="main-header__item">
                <a class="<%= path === '/pmovie' ? 'active' : '' %>" href="/pmovie">Popular Movies</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/pactor' ? 'active' : '' %>" href="/pactor">Popular Actors</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/pusers' ? 'active' : '' %>" href="/pusers">Popular Users</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/pgenre' ? 'active' : '' %>" href="/pgenre">Popular Genre</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/alogin' ? 'active' : '' %>" href="/alogin">Logout</a>
            </li>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
        <ul class="mobile-nav__item-list">
                <li class="mobile-nav__item">
                    <a class="<%= path === '/pmovie' ? 'active' : '' %>" href="/pmovie">Popular Movies</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/pactor' ? 'active' : '' %>" href="/pactor">Popular Actors</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/pusers' ? 'active' : '' %>" href="/pusers">Popular Users</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/pgenre' ? 'active' : '' %>" href="/pgenre">Popular Genre</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/alogin' ? 'active' : '' %>" href="/alogin">Logout</a>
                </li>
            </ul>
</nav>