<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });
</script>
</head>

<body>
<%- include('includes/navg.ejs') %>

<main>
    <form class="product-form" action="http://localhost:3000/addmovie" method="POST">
        <% if((status == 404 || status == 403 ) && bt == "add") {%>
            <p style="color:red;font-size:15px" >*Couldn't add movie. Try Again.</p>
        <% } else if(status == 1 && bt== "add") { %>
            <p style="color:green;font-size:15px" >Successfully added movie "<%=pn%>".</p>
        <% } %>
        <div class="form-control">
            <label for="name">Title</label>
            <input type="text" name="title" id="title" value="<% if (editing) { %><%= movie.name %><% } %>">
        </div>
        <div class="form-control">
            <label for="name">Plot</label>
            <input type="text" name="plot" id="plot" value="<% if (editing) { %><%= movie.plot %><% } %>">
        </div>
        <div class="form-control">
            <label for="name">Duration</label>
            <input type="text" name="duration" id="duration" value="<% if (editing) { %><%= movie.duration %><% } %>">
        </div>
        <div class="form-control">
            <label for="name">Poster URL</label>
            <input type="text" name="poster" id="poster" value="<% if (editing) { %><%= movie.poster %><% } %>">
        </div>
        <div class="form-control">
            <label for="name">Language</label>
            <input type="text" name="language" id="language" value="<% if (editing) { %><%= movie.language %><% } %>">
        </div>
        <div class="form-control">
            <label for="name">IMDb Rating</label>
            <input type="text" name="imdb" id="imdb" value="<% if (editing) { %><%= movie.imdb %><% } %>">
        </div>
        <div class="form-control">
            <label for="date_of_release">Date of Release</label>
            <input type="date" name="date_of_release" id="date_of_release" value="<% if (editing) { %><%= movie.date_of_release %><% } %>">
        </div>
        <label for="genre">Genre of the Movie</label><br>
        <select class="js-example-basic-multiple" multiple="multiple" id="genre" name="genre">
        <% for(var i=0; i < genre.length; i++) { %>
            <option value="<%=genre[i]%>"><%=genre[i]%></option>
        <% } %>
        </select><br>
        <label for="actor">Actors</label><br>
        <select class="js-example-basic-multiple" multiple="multiple" id="actor" name="actor">
        <% for(var i=0; i < actor.length; i++) { %>
            <option value="<%=actor[i]%>"><%=actor[i]%></option>
        <% } %>
        </select><br>
        <label for="director">Director</label><br>
        <select class="js-example-basic-multiple" multiple="multiple" id="director" name="director">
        <% for(var i=0; i < director.length; i++) { %>
            <option value="<%=director[i]%>"><%=director[i]%></option>
        <% } %>
        </select><br>
        <label for="tags">Tags</label><br>
        <select class="js-example-basic-multiple" multiple="multiple" id="tags" name="tags">
        <% for(var i=0; i < tags.length; i++) { %>
            <option value="<%=tags[i]%>"><%=tags[i]%></option>
        <% } %>
        </select><br>
        <div class="form-control">
            <label for="name">Relevance scores</label>
            <p style="color:red;font-size:15px" >**Enter comma separated list of relevance scores for tags selected above in range 0-1.</p>
            <input type="text" name="relevance" id="relevance" value="<% if (editing) { %><%= movie.relevance %><% } %>">
        </div>
        <input type="hidden" name="b_type" value="add">
        <button class="btn" type="submit">Add Movie</button>
    </form>
    <center><h2>Delete an existing Movie</h2></center>
    <form class="product-form" action="http://localhost:3000/addmovie" method="POST">
        <div class="form-control">
            <% if(status == 404 && bt=="del") {%>
                <p style="color:red;font-size:15px" >*This movie does not exist. Try deleting a different movie.</p>
            <% } else if(status == 1 && bt=="del") { %>
                <p style="color:green;font-size:15px" >Successfully deleted movie</p>
            <% } %>
            <label for="id">Title</label>
            <!-- <input type="text" name="movid" id="movid" value="<% if (editing && bt=='del') { %><%= pn %><% } %>"> -->
            <select class="js-example-basic-single" id="movid" name="movid">
                <% for(var i=0; i < mov.length; i++) { %>
                    <option value="<%=mov[i]%>"><%=mov[i]%></option>
                <% } %>
                </select><br>
            <input type="hidden" name="b_type" value="del">
        <button class="btn" type="submit">Delete Movie</button>
    </form>
</main>
<%- include('includes/end.ejs') %>