<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
<%- include('includes/navigation.ejs') %>

<main>
    <form class="product-form" action="http://localhost:3000/adduser" method="POST">
        <div class="form-control">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="<% if (editing) { %><%= user.name %><% } %>">
        </div>
        <div class="form-control">
            <label for="date_of_birth">Date of Birth</label>
            <input type="date" name="date_of_birth" id="date_of_birth" value="<% if (editing) { %><%= user.date_of_birth %><% } %>">
        </div>
            <% if (editing && user.gender == "M"){ %>
            <input type="radio" id="male" name="gender" value="M" checked>
            <% } else { %>
            <input type="radio" id="male" name="gender" value="M">
            <% } %>
            <label for="male">Male</label>
            <% if (editing && user.gender == "F"){ %>
            <input type="radio" id="female" name="gender" value="F" checked>
            <% } else { %>
            <input type="radio" id="female" name="gender" value="F">
            <% } %>
            <label for="female">Female</label><br>
            <label for="favgenre">Favourite Genre</label><br>
                <font style="color:red;font-size:15px" >*Please select at least two.</font><br>
            <% for(var i=0; i < genre.length; i++) { %>
                <% if(fgenre.includes(genre[i])) { %>
                    <input type="checkbox" name="genre" value="<%=genre[i]%>" checked>
                    <label for="genre"><%=genre[i]%></label><br>
                <% } else { %>
                    <input type="checkbox" name="genre" value="<%=genre[i]%>">
                    <label for="genre"><%=genre[i]%></label><br>
                <% } %>
            <% } %>
            <label for="favactor">Favourite Actor</label><br>
            <font style="color:red;font-size:15px" >*Please select at least two.</font><br>
            <select id="favactor" name="favactor" size="30" multiple>
            <% for(var i=0; i < actor.length; i++) { %>
            <% if(factor.includes(actor[i])) { %>
                <option value="<%=actor[i]%>" selected><%=actor[i]%></option>
            <% } else { %>
                <option value="<%=actor[i]%>"><%=actor[i]%></option>
            <% } %>
            <% } %>
            </select>
        <div class="form-control">
            <label for="username">UserName<br>
            <font style="color:red;font-size:15px" >*Username should be atmost 256 chars.</font></label>
            <input type="text" name="username" id="username" value="<% if (editing) { %><%= user.username %><% } %>">
            <% if(status == 401) {%>
                <p style="color:red;font-size:15px" >**Username already taken! Please choose a different username.</p>
            <% } %>
            <label for="password">Password<br>
            <font style="color:red;font-size:15px" >***Password should contain at least one special character, one digit and one letter and should be of at least length 6</font></label>
            <input type="password" name="password" id="password" value="">
            <label for="cpassword">Confirm Password</label>
            <input type="password" name="cpassword" id="cpassword" value="">
            <% if(status == 404) {%>
                <p style="color:red;font-size:15px">****Please re-enter Password.</p>
            <% } %>
            <% if(status == 403) {%>
                <p style="color:red;font-size:15px">****Choose a different Password.</p>
            <% } %>
        </div>
        <button class="btn" type="submit">SignUp</button>
    </form>
</main>
<%- include('includes/end.ejs') %>