<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>
<body>
<%- include('includes/navgg.ejs') %>
<main>
    <form action="/pmovie" method="post">
        <% if(status == 404) {%>
            <p style="color:red;font-size:15px" >*Upper Limit should be greater than equal to Lower Limit.</p>
        <% } %>
        <label for="lowlimit"><b>Age: </b></label>
        <input type="hidden" name="age" value="">
        <label for="lowlimit">Lower Limit</label>
        <input type="number" id="lowlimit" name="lowlimit" title="lowlimit">
        <label for="highlimit">Upper Limit</label>
        <input type="number" id="highlimit" name="highlimit" title="highlimit">
            <button class="btn" type="submit">
                Filter  
            </button>
            <input type="hidden" name="b_type" value="sch">
    </form>
    <% if(clr == 1) { %>
    <form action="/pmovie" method="post">
        <button class="btn" type="submit">
            Clear 
        </button>
        <input type="hidden" name="b_type" value="clr">
    </form>
    <% } %>
    <table border=1 width="75%"">
        <tr>
            <h3>
            <th>Movie Name</th>
            <th>Date of Release</th>
            <th>Watched By</th>
            </h3>
        </tr>
        <% for(var i=0; i < itlist.length; i++) { %>
            <tr>
                <td>
                    <%=itlist[i].name%>
                </td>
                <td>
                    <%=itlist[i].dr%>
                </td>
                <% if(itlist[i].num == 1) { %>
                <td>
                    <%=itlist[i].num%> User
                </td>
                <% } else { %>
                    <td>
                        <%=itlist[i].num%> Users
                    </td>
                <% } %>
            </tr>
        <% } %>
</table>
</main>
<%- include('includes/end.ejs') %>