<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/main.css">
</head>

<body>
<%- include('includes/nav.ejs') %>

<main>
    <div class="grid">
    <table width="100%">
    <tr><th>Based on your Favourite Actor and Genre</th><th>Based on your viewing history</th><th>Based on what similar users have watched</th></tr>
    <tr>
    <td>
    <center>
    <% for(var i=0; i < itlist0.length; i++) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title">
                        <%=itlist0[i].title%>
                    </h1>
                </header>
                <div class="card__image">
                    <img src = "<%=itlist0[i].image%>" alt= "<%=itlist0[i].title%>" height="150px">
                </div>
                <div class="card_content">
                    <h3 class="product__description">
                        Date of Release: <%=itlist0[i].date_of_release%>
                    </h3>
                    <h3 class="product__description">
                        IMDB rating: <%=itlist0[i].rating%>
                    </h3>
                    <h3 class="product__description">
                        Duration: <%=itlist0[i].duration%>
                    </h3>
                    <h3 class="product__description">
                        Genre: <%=itlist0[i].genre%>
                    </h3>
                </div>
                <div class="card__actions">
                <form action="/cart" method="post">
                    <button class="btn" type="submit">
                    More Details
                    </button>
                    <input type="hidden" name="product_id" value="<%= itlist0[i].id %>">
                </form>
                </div>
                <div class="card__actions">
                <form action="/cart" method="post">
                    <button class="btn" type="submit">
                    Watch
                    </button>
                    <input type="hidden" name="product_id" value="<%= itlist0[i].id %>">
                </form>
                </div>
            </article>
         <% } %>
        </center>
    </td>
    <td>
    <center>
    <% for(var i=0; i < itlist.length; i++) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title">
                        <%=itlist[i].title%>
                    </h1>
                </header>
                <div class="card__image">
                    <img src = "<%=itlist[i].image%>" alt= "<%=itlist[i].title%>" height="150px">
                </div>
                <div class="card_content">
                    <h3 class="product__description">
                        Date of Release: <%=itlist[i].date_of_release%>
                    </h3>
                    <h3 class="product__description">
                        IMDB rating: <%=itlist[i].rating%>
                    </h3>
                    <h3 class="product__description">
                        Duration: <%=itlist[i].duration%>
                    </h3>
                    <h3 class="product__description">
                        Genre: <%=itlist[i].genre%>
                    </h3>
                </div>
                <div class="card__actions">
                <form action="/cart" method="post">
                    <button class="btn" type="submit">
                    More Details
                    </button>
                    <input type="hidden" name="product_id" value="<%= itlist[i].id %>">
                </form>
                </div>
                <div class="card__actions">
                <form action="/cart" method="post">
                    <button class="btn" type="submit">
                    Watch
                    </button>
                    <input type="hidden" name="product_id" value="<%= itlist[i].id %>">
                </form>
                </div>
            </article>
         <% } %>
    </div>
    </center>
    </td>
    <td>
    <center>
    <% for(var i=0; i < itlist2.length; i++) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title">
                        <%=itlist2[i].title%>
                    </h1>
                </header>
                <div class="card__image">
                    <img src = "<%=itlist2[i].image%>" alt= "<%=itlist2[i].title%>" height="150px">
                </div>
                <div class="card_content">
                    <h3 class="product__description">
                        Date of Release: <%=itlist2[i].date_of_release%>
                    </h3>
                    <h3 class="product__description">
                        IMDB rating: <%=itlist2[i].rating%>
                    </h3>
                    <h3 class="product__description">
                        Duration: <%=itlist2[i].duration%>
                    </h3>
                    <h3 class="product__description">
                        Genre: <%=itlist2[i].genre%>
                    </h3>
                </div>
                <div class="card__actions">
                <form action="/cart" method="post">
                    <button class="btn" type="submit">
                    More Details
                    </button>
                    <input type="hidden" name="product_id" value="<%= itlist2[i].id %>">
                </form>
                </div>
                <div class="card__actions">
                <form action="/cart" method="post">
                    <button class="btn" type="submit">
                    Watch
                    </button>
                    <input type="hidden" name="product_id" value="<%= itlist2[i].id %>">
                </form>
                </div>
            </article>
         <% } %>
        </center>
    </td>
    </tr>
    </table>
</main>
<%- include('includes/end.ejs') %>